@model IEnumerable<Dashboard.Models.BacklogModel>

@{
    ViewData["Title"] = "All Games";
}

<style>
    th {
        background-color: gray;
        color: white;
        padding: 0px 10px;
        font-size: 18px;
    }

    tfoot th {
        background-color: #969696;
        color: white;
        padding: 0px 10px;
        font-size: 16px;
    }

    td {
        padding: 0px 10px;
        font-size: 16px;
    }

    table {
        width: 100%;
        margin-top: 10px;
    }

    .playStatus {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .green {
        color: green;
    }

    .progress .green {
        background-color: green;
    }

    .red {
        color: #E20505;
    }

    .progress .red {
        background-color: #E20505;
    }

    .blue {
        color: cadetblue;
    }

    .progress .blue {
        background-color: cadetblue;
    }

    .gold {
        color: gold;
    }

    .progress .gold {
        background-color: gold;
    }

    .silver {
        color: silver;
    }

    .progress .silver {
        background-color: silver;
    }

    .progress {
        height: 20px;
        margin: 0px 10px;
    }

    .progress-td {
        width: 85%;
    }

    form {
        font-size: 20px;
    }

    .textbox {
        border: solid 1px black;
        margin-top: 5px;
        padding: 0px 5px;
        width: 100%;
    }

    .padding-btn {
        padding: 5px 10px;
        margin: 0px 5px;
    }

    .btn-100 {
        width: 100%;
    }

    .tooltip {
        font-size: 16px;
    }

    .link-nostyle, .link-nostyle:link, .link-nostyle:visited, .link-nostyle:hover, .link-nostyle:active {
        color: black;
        text-decoration: inherit;
    }
</style>

<div class="main-content-inner">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div>
                        <br />
                        <a class="btn btn-primary" href="/Backlog/Index">Back</a>
                    </div>
                    <hr />
                    <h1 class="float-left">All Games</h1>
                    <br />
                    @using (var db = new Dashboard.Data.Database())
                    {
                        var records = Dashboard.Helpers.Backlog.GetAllGamesBySystem(Dashboard.Helpers.Account.GetUserId(User.Identity.Name));

                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Game</th>
                                    <th>System</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < records.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <a class="link-nostyle" href="/Backlog/Edit/@records.ElementAt(i).Id"><i class="ti-marker-alt"></i></a>

                                            @if (records.ElementAt(i).Status == (int)BacklogModel.STATUS.UNPLAYED)
                                            {
                                                <i class="ti-medall-alt silver" data-toggle="tooltip" data-placement="right" title="Unplayed"></i>
                                            }
                                            else if (records.ElementAt(i).Status == (int)BacklogModel.STATUS.UNFINISHED)
                                            {
                                                <i class="ti-medall-alt red" data-toggle="tooltip" data-placement="right" title="Unfinished"></i>
                                            }
                                            else if (records.ElementAt(i).Status == (int)BacklogModel.STATUS.BEAT)
                                            {
                                                <i class="ti-medall-alt green" data-toggle="tooltip" data-placement="right" title="Beat"></i>
                                            }
                                            else if (records.ElementAt(i).Status == (int)BacklogModel.STATUS.COMPLETED)
                                            {
                                                <i class="ti-medall-alt gold" data-toggle="tooltip" data-placement="right" title="Completed"></i>
                                            }
                                        </td>
                                        <td>
                                            @records.ElementAt(i).Name
                                        </td>
                                        <td>
                                            @records.ElementAt(i).System
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>