
@{
    ViewData["Title"] = "View Child";

    var username = TempData["Username"].ToString();
    var activityRecords = (List<Dashboard.Models.ActivityModel>)TempData["Activity"];
}

<style>
    th {
        background-color: gray;
        color: white;
        padding: 0px 10px;
    }

    td {
        padding: 0px 10px;
    }

    table {
        width: 100%;
    }
</style>

<div class="main-content-inner">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h1>@username 's Activity</h1>
                    <br />
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Game
                                </th>
                                <th>
                                    Finish
                                </th>
                                <th>
                                    Mode
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in activityRecords)
                            {
                                <tr>
                                    <td>
                                        @item.Date
                                    </td>
                                    <td>
                                        @item.Game
                                    </td>
                                    <td>
                                        @item.Finish
                                    </td>
                                    <td>
                                        @item.Mode
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>