
@{
    ViewData["Title"] = "About";
}

<style>
    th {
        background-color: gray;
        color: white;
        padding: 0px 10px;
        font-size: 18px;
    }

    tfoot th {
        background-color: #969696;
        color: white;
        padding: 0px 10px;
        font-size: 16px;
    }

    td {
        padding: 0px 10px;
        font-size: 16px;
    }

    table {
        width: 100%;
        margin-top: 10px;
    }
</style>

<div class="main-content-inner">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h1>About</h1>
                    <p>A dashboard for tracking game playtime and your game backlog.</p>
                    <hr />
                    <h2>Credits</h2>
                    <table>
                        <tbody>
                            <tr>
                                <td>SRTdash</td>
                                <td>Colorlib</td>
                                <td><a href="https://github.com/puikinsh/srtdash-admin-dashboard">GitHub</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>