@{
    ViewData["Title"] = "SetBudgetAmount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SetBudgetAmount</h2>

<head>
    <meta http-equiv="refresh" content="0; url=@Url.Action("Budget", "Insight")" />
</head>

<a href="@Url.Action("Budget", "Insight")">Redirect</a>